/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  /* Main Styling */
  body,
  html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.7em;
  }
  
  a {
	color: #333;
	text-decoration: none;
  }
  
  p {
	margin: 10px;
  }
  
  /* Utility */
  .container {
	margin: auto;
	max-width: 1200px;
	padding: 0 20px;
  }
  
  /* Header */
  header {
	background-color: #f7f7f7;
	color: #333;
	padding: 20px;
  }
  
  #logo {
	height: 40px;
  }
  
  #navbar a {
	color: #333;
  }
  
  #navbar img {
	margin-top: 10px;
	background: #444;
  }
  
  #navbar ul {
	list-style: none;
	float: right;
  }
  
  #navbar ul li {
	display: inline-block;
	margin-left: 10px;
  }
  
  #navbar ul li a {
	font-size: 14px;
	margin-top: 10px;
	display: block;
	padding: 7px 10px;
	border-radius: 4px;
	background-color: #f7f7f7;
  }
  
  #navbar ul li a:hover {
	background-color: #e5e5e5;
	color: #f7c08a;
  }
  
  /* Footer */
  footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
  /* Main Content */

  input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s ease-in-out;
  }

  /* Add focus styles */
  input:focus {
    border-color: #007bff;
    outline: none;
  }

  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white; /* Set background color */
    appearance: none; /* Remove default arrow icon in some browsers */
    cursor: pointer; /* Change cursor on hover */
    outline: none; /* Remove default focus outline */
    transition: border-color 0.3s ease-in-out;
    text-align: center;
  }

  /* Add focus styles */
  select:focus {
  border-color: #007bff;
  }

  #content {
	background-color: #fff;
	padding: 20px;
  }
  
  .titlu-sectiune {
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	padding-top: 70px;
	color: #333;
  }
  
  .titlu-sectiune h2 {
	font-size: 36px;
	line-height: 1.2em;
  }
  
  .pagina-principala {
	padding-bottom: 5px;
  }
  
  article {
	border: 1px solid #ddd;
  border-radius: 8px;
  padding-top: 5px;
  overflow: hidden;
  margin: 0 20px 30px;
  width: 270px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  }

  .produs h3 {
	margin: 10px 0;
  text-align: center;
  }

  .produs h4 {
	margin: 10px 0;
  text-align: center;
  }
  
  .produs ul {
	text-align: center;
	list-style: none;
	padding: 0;
  }
  
  .produs .container-imagine img {
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
  }

  .produs .buton-produs {
	display: block;
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  }

  .produs .buton-produs:hover {
	background-color: #2980b9;
	}
  
  .hidden {
	display: none;
  }
  
  img {
	max-height: 150px;
  }
  
  #produse {
	display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  }
  
  #partea-de-sus {
	text-align: center;
  }
  
  /* Product Details Page */
  .pagina-detalii-produs {
	background-color: #f7f7f7;
	padding: 20px;
  }
  
  .sectiune-prezentare {
	padding-top: 20px;
  }
  
  .sectiune-imagine {
	padding: 20px;
	text-align: center;
  }
  
  .sectiune-cumparare {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	text-align: center;
  }
  
  .sectiune-descriere {
	clear: both;
	display: block;
  }

  .sectiune-descriere h4 {
	margin: 10px 0 0 0 !important;
  }

  .buton-adauga-cos {
	  background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
	  margin-top: 10px;
  }

  .buton-pagina-produse {
	background-color: #4CAF50;
      color: #fff;
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
	    margin-top: 10px;
  }
  
  .sectiune-intoarcere {
	text-align: center;
  }
  
  .sectiune-prezentare span {
	color: #555;
  }

  .sectiune-produs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
  }
  
  .sectiune-imagine img {
	max-height: 300px;
  }
  
  .sectiune-cumparare p {
	margin: 0;
  }
  
  .sectiune-descriere p {
	margin: 0;
  }
  
  /* Shopping Cart Page */
  .pagina-cos-cumparaturi {
	background-color: #f7f7f7;
	padding: 20px;
  }
  
  table {
	background-color: #fff;
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	border-collapse: collapse;
  }
  
  table th,
  table td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ccc;
  }
  
  table th {
	background-color: #f7f7f7;
  }
  
  /* Add Product Page */
  .adaugare-produs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	margin: 10px auto;
	padding: 20px;
	width: 250px;
	text-align: center;
  }
  
  .adaugare-produs input,
  .adaugare-produs textarea,
  .adaugare-produs button {
	margin: 10px 0;
	padding: 8px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  .adaugare-produs textarea {
	height: 80px;
  }
  
  .adaugare-produs button {
	background-color: #333;
	color: #fff;
	cursor: pointer;
  }
  
  .adaugare-produs button:hover {
	background-color: #555;
  }
  